/* body{
    background-color: greenyellow;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    height: 65px;
    width: 150px;
    border-radius:5px ;
    border: none;
    /* padding: 18px 35px; */
    font-size: 20px;
    width: bold;
    cursor: pointer;
    
}

/* main style */
header {
    /* background-color: #FFF8F3; */
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right ;
    background-repeat: no-repeat;
    padding-top: 51px;
    
}

nav {
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo h2{
    font-size: 45px; 
    font-weight: 700px;
}
.color-h2{
    color: #FD6E0A;
}
nav .style{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .style a{
    font-size:20px ;
    color: #474747;
    text-decoration: none;
}
#banner{
   /* border: 1px solid rebeccapurple; */
   margin:47px 38px 0px 230px;
   display: flex;justify-content:space-between;
   align-items: center; 
}
 .banner-contant{
    max-width: 585px;
 }
#banner .banner-contant h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
      margin-bottom: 5px;
}
#banner .banner-contant h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
  margin-bottom: 20px;

}
#banner .banner-contant p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

#banner .banner-img{
    max-width: 584px;
    vertical-align: middle;
}
#information{
    padding-top: 130px;
}
#information .info-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red  ; */
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    
}
.section-info{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.section-info.info-card p{
    color: #757575;
    font-size: 20px;

}
.section-info.info-card h4{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}